# Gradle / Android build
.gradle/
**/build/
**/.cxx/
**/intermediates/
**/generated/
**/outputs/

# Studio
.idea/
*.iml

# Artifacts
*.apk
*.aab
*.keystore
*.dm
*.bin
*.jar
*.arsc.flat

# Repo metadata
/iDrugWg.git/

# Sensitive files
idrug-release-key.jks
google-services.json
