<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:name=".Application"
        android:allowBackup="false"
        android:banner="@mipmap/banner"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.TunnelToggleActivity"
            android:excludeFromRecents="true"
            android:theme="@style/NoBackgroundTheme" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
    <data android:scheme="idrug" android:host="auth"/>
</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="idrug" android:host="apps" />
            </intent-filter>
        </activity>
        
        <provider
    android:name="androidx.core.content.FileProvider"
    android:authorities="${applicationId}.provider"
    android:exported="false"
    android:grantUriPermissions="true">
    <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
</provider>

        <activity
            android:name=".activity.TvMainActivity"
            android:exported="true"
            android:theme="@style/TvTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.TunnelCreatorActivity"
            android:label="@string/create_activity_title"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name=".activity.LogViewerActivity"
            android:exported="false"
            android:label="@string/log_viewer_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LinkCodeActivity"
            android:exported="false"
            android:label="@string/link_device"
            android:parentActivityName=".activity.MainActivity" />

        <provider
            android:name=".activity.LogViewerActivity$ExportedLogContentProvider"
            android:authorities="${applicationId}.exported-log"
            android:exported="false"
            android:grantUriPermissions="true" />


        <receiver
            android:name=".model.TunnelManager$IntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="pw.idrug.connections.action.REFRESH_TUNNEL_STATES" />
                <action android:name="pw.idrug.connections.action.SET_TUNNEL_UP" />
                <action android:name="pw.idrug.connections.action.SET_TUNNEL_DOWN" />
            </intent-filter>
        </receiver>

        <service
            android:name=".QuickTileService"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />

            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm_default_channel" />

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
</manifest>
